on:
  workflow_dispatch:

jobs:
  my_job:
    name: deploy to staging
    runs-on: ubuntu-22.04
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Print repo name
        run: echo "Hello from ${{ github.repository }}"

      - uses: actions/checkout@v4

      - name: Run ls
        run: |
          echo "current directory location: $(pwd)"
          echo "ls current directory:"
          ls -al
          echo "ls root directory:"
          ls -al /

      - name: Install Python
        run: sudo apt-get install python3
